# Project Final Report

## Introduction

**Background**  
In recent years, online gaming has produced vast behavioral datasets that offer insights into user engagement and retention. “Minecraft,” as an open‐world game, generates detailed logs of player activity, making it an ideal case for studying how simple demographic factors relate to play behavior. By analyzing total play duration alongside basic player attributes, we aim to uncover patterns that could inform game design and personalized recommendations.

**Research Question**  
Can a player’s age and total play time predict their experience level on the game server?

- **Response variable**: `experience` (factor) – player’s self‐reported expertise level (“Pro”, “Regular”, “Amateur”, “Beginner”)  
- **Predictor variables**:  
  - `age` (numeric; years)  
  - `played_hours` (numeric; total play duration in hours)  

**Data Description**  
We use the `players.csv` dataset exported from the research server. It contains **196** observations and **9** variables:

| variable           | type       | description                                    |
|--------------------|------------|------------------------------------------------|
| experience         | factor     | player’s experience level                      |
| subscribe          | logical    | whether the player holds a subscription        |
| hashedEmail        | character  | anonymized user identifier                     |
| played_hours       | double     | total play duration per player (hours)         |
| name               | character  | player’s display name                          |
| gender             | character  | player’s self‐reported gender                  |
| age                | double     | player’s age in years                          |
| individualId       | logical    | all NA (no values) — will be dropped           |
| organizationName   | logical    | all NA (no values) — will be dropped           |

For this analysis, we will:

1. Convert `experience` to a factor.  
2. Drop the two all‐NA columns (`individualId`, `organizationName`).  
3. Focus only on the three variables needed for prediction: `experience`, `age`, and `played_hours`.

In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
players <- read_csv("players.csv")
head(players)

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17